/* 

Template 2110 Character
http://www.tooplate.com/view/2110-character


COLORS 

Primary Dark:       #996666
Primary Light:      #cc9999
Primary Over::      #c5c5e6
Secondary:          #c46c6a
Table Background:   #e67b9f
Dark Background:    #333333
Dark Gray Text:     #666666
Light Gray Text:    #999999
Footer Gray Text:   #cccccc

*/

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  padding: 80px;
  overflow-x: hidden;
}

textarea {
  font-family: "Open Sans", sans-serif;
}

a {
	color: #ffffff;
  text-decoration: none;
}

button {
  border: none;
}

a,
button {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

h1 {
  margin-left: 20px;
}

h2 {
  margin-top: 0;
}

h5 {
  margin-left: 20px;
}

p {
  line-height: 2;
  margin: 20px;
}

table{
  background-color:#e67b9f;
}


.tm-container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* http://w3bits.com/css-masonry/ */
.masonry {
  /* Masonry container */
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0;
  column-gap: 0;
}

.item {
  /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0;
  width: 100%;
}

.cv {
  /* Masonry bricks or child elements */
  display: inline-block;
  margin: 2;
  width: 175%;
}

.menu {
  color: #c46c6a;
  margin-left:0 auto;
  display: inline-block;
  width: 200%;
}

img {
  max-width: 100%;
  height: auto;
}

.tm-relative {
  position: relative;
}

.tm-block {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1600px;
}

.tm-block-wider {
  max-width: 640px;
  width: calc(100% + 40px);
}

.tm-block-left {
  right: 20px;
  bottom: 20px;
}

.tm-block-left-2 {
  right: 60px;
  top: 15px;
}

.tm-block-right {
  padding: 15px 0 20px 20px;
}

.tm-img-left {
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.tm-hero-text {
  padding: 45px 95px 0;
}

.intro{
font-style: italic;
}

.tm-block-pad {
  padding: 67px 63px;
}

.tm-block-icon {
  text-align: center;
  display: block;
  margin: 0 30px 30px;
}

.tm-block-brand {
  position: relative;
  margin-top: 147px;
  margin-bottom: 27px;
}

.tm-block-brand2 {
  position: relative;
  margin-top: 0px;
  margin-bottom: 15px;
}

.tm-block-brand-inner {
  position: relative;
  right: 50px;
  padding: 70px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tm-block-brand-inner2 {
  position: relative;
  left: 80px;
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tm-brand-name {
  margin: 0 40px 0;
  font-size: 2.5rem;
  font-weight: 400;
}

.tm-bg-dark {
  background-color: #333333;
}

.tm-bg-white {
  background-color: #ffffff;
}

.tm-btn {
  padding: 15px 25px;
  display: inline-block;
  font-size: 1em;
}

.tm-btn-small {
  font-size: 17px;
  font-weight: 600;
  padding: 15px 35px;
}

.tm-btn-pad-big {
  padding: 17px 45px;
}

.tm-btn-primary {
  color: #c46c6a;
  background-color: #ffffff;
}

.tm-btn-primary:hover {
  background-color: #c5c5e6;
}

.tm-btn-secondary {
  color: white;
  background-color: #e67b9f;
}

.tm-btn-secondary:hover {
  color: #ffffff;
  background-color: #c46c6a;
}

.tm-text-white {
  color: #ffffff;
}

.tm-text-gray-light {
  color: #999999;
}

.tm-bg-primary-light {
  background-color: #cc9999;
}

.tm-bg-primary-dark {
  background-color: #996666;
}

.tm-bg-secondary {
  background-color: #c46c6a;
}

.tm-mt {
  margin-top: 30px;
}

.tm-mt-big {
  margin-top: 50px;
}

.tm-mb {
  margin-bottom: 45px;
}

.tm-mb-small {
  margin-bottom: 20px;
}

.tm-text-right {
  text-align: right;
}

.tm-text-uppercase {
  text-transform: uppercase;
}

.tm-form-group {
  margin-bottom: 25px;
}

input,
textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #c46c6a;
  padding: 18px 20px;
  font-size: 1em;
}

.tm-contact-form {
  width: calc(100% - 40px);
}

.tm-form-section {
  margin-top: 25px;
}

.tm-form-section-tag {
  position: relative;
}

.tm-form-section-tag h2 {
  font-size: 1.6rem;
}

.tm-form-section-tag-inner {
  position: relative;
  left: 40px;
  right: -40px;
  bottom: -40px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  padding: 55px 47px;
}

.tm-pb-0 {
  padding-bottom: 0 !important;
}

.tm-img-qr {
  width: 150px;
  height: 150px;
  margin: 30px 20px 30px 0;
}

.tm-footer {
  background-color: #996666;
  color: #ffffff;
  font-size: 16px;
  width: 200%;
}


@media (max-width: 1232px) {
  body {
    padding: 60px;
  }
}

@media (max-width: 1199px) {
  .masonry {
    /* Masonry container */
    -webkit-column-count: 1;
    column-count: 1;
  }

  .tm-container {
    max-width: 600px;
  }
}

@media (max-width: 540px) {
  .tm-block-brand-inner {
    flex-direction: column;
    padding: 35px;
    right: 30px;
  }

  .tm-brand-name {
    margin-top: 20px;
  }

  .tm-contact-form {
    width: calc(100% - 20px);
  }
}

@media (max-width: 520px) {
  body {
    padding: 50px;
  }

  .tm-block-pad {
    padding: 45px;
  }

  .tm-hero-text {
    padding: 50px 45px 0;
  }

  .tm-block-brand {
    margin-top: 70px;
  }
}

@media (max-width: 417px) {
  .tm-block-left,
  .tm-block-left-2 {
    right: 0;
  }

  .tm-block-wider {
    width: 100%;
  }

  .tm-footer {
    flex-direction: column;
  }
}

@media (max-width: 390px) {
  body {
    padding: 40px 20px 10px;
  }

  .tm-form-section-tag-inner {
    left: 25px;
    right: -25px;
    bottom: -25px;
  }
}

.social-container {
    width: 400px;
    margin: auto;
    text-align: right;
}

.social-icons {
    padding: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
